

.carousel {
  width: 100%;
  overflow: scroll;
  padding: 30px;
  position: relative;
}

.carousel__container {
  white-space: nowrap;
  margin: 70px 0;
  padding-bottom: 10px;
}

.carousel-item {
  width: 200px;
  height: 250px;
  display: inline-block;
  border-radius: 20px;
  margin-right: 10px;
  overflow: hidden;
  background-color: pink;
  cursor: pointer;
  transition: 450ms all;
  transform-origin: center left;
}
/*
  8.
  9. Agregamos una transicion/animacion la hacer hover.
 10. Posicionamos el item al centro e izquierda
  */

.carousel-item:hover ~ .carousel-item {
  transform: translate3d(100px, 0, 0);
}

.carousel__container:hover .carousel-item {
  opacity: 0.3;
}
/*
Agregamos opacidad 
 */

.carousel__container:hover .carousel-item:hover {
  transform: scale(1.5);
  opacity: 1;
}

.carousel-item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.carousel-item__details {
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9) 0% rgba(0, 0, 0, 0) 100%
  );
  font-size: 10px;
  opacity: 0;
  transition: 450ms opacity;
  padding: 10px;
  position: absolute;
  top: 160px;
  left: 5px;
  right: 0;
  bottom: 0;
}

.carousel-item__details:hover {
  opacity: 1;
}

.icons img{
  width: 25px;
  height: 25px;
}
